<div class="panel-body table-responsive">
    <table class="table text-center ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Day</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>a</td>
                <td>sunday</td>
                <td>2/5/2022</td>
                <td>3:30</td>
                <td>
                    <button id="accept">Accept</button>
                    <button id="reject">Reject</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>