<div class="container-fluid">
    <div class="d-block p-3 head m-0">
        <button onclick="openmodel('addinguser')" class="btn text-white btn-success " data-bs-toggle="modal" data-bs-target="#myModal">Add Nurse </button>
    </div>
    <div class="searching">
        <input type="checkbox" id="check" />
        <div class="d-flex">
            <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp; srearch for special nurse</label>
            <div>
                <button class="btn" (click)="allnurses()">All</button>
            </div>
        </div>
        <div class="searching-fields">
            <form #NurseInf="ngForm" (ngSubmit)="search(NurseInf.value)" class="row mx-auto justify-content-between py-3">
                <div class="col-lg-3 col-md-6">
                    <label for="nursename">User Name</label><br>
                    <input class="form-control" type="text" name="nursename" id="nursename" ngModel/>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div>
                        <label for="nursedepartment">Department</label><br>
                        <select class="form-control" name="nursedepartment" id="nursedepartment" ngModel>
                        <option value=" "></option>
                        <option value="cardio ">cardio</option>
                        <option value="Neuroscience ">Neuroscience</option>
                        <option value="orthopedic ">orthopedic</option>
                    </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <label for="nursestate">State</label><br>
                    <select class="form-control" name="nursestate" id="nursestate" ngModel>
                        <option value=" "></option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn" value="search">
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive ">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>username</th>
                    <th>Name</th>
                    <th>National Id</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Adress</th>
                    <th>Phone</th>
                    <th>department</th>
                    <th>Degree</th>
                    <th>hiring date</th>
                    <th>state</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src=" " /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button onclick="openmodel('updatinguser')"> <span class="fa-solid fa-pen-to-square " style="color:green " > </span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="addinguser" class="addmodal">
    <div class="container ">
        <h4>Add nurse</h4>
        <form [formGroup]="NurseInfo" (ngSubmit)="addnurse()" class="form">
            <div class="row p-3 justify-content-center ">
                <div class="col-md-4">
                    <label class="form-lable" for="nursefname">First Name</label>
                    <input class="form-control " type="text" name="nursefname" id="nursefname" formControlName="fname" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="nurselname">Last Name</label>
                    <input class="form-control" type="text" name="nurselname" id="nurselname" formControlName="lname" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="nurseuname">User Name</label>
                    <input class="form-control " type="text" name="nurseuname" id="nurseuname" formControlName="username" />
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="nationalId">National Id</label>
                    <input class="form-control" type="text" name="nationalId" id="nationalId" formControlName="nid" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="gender">gender</label>
                    <select id="gender" class="form-control" formControlName="gender">
                        <option vlaue="female">female</option>
                        <option value="male">male</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="age">Age</label>
                    <input class="form-control" type="text" name="Date-of-Birth" id="Date-of-Birth" formControlName="age" />
                </div>
            </div>
            <div class="row p-3 justify-content-center ">
                <div class="col-md-4 ">
                    <label class="form-lable" for=">Date_of_hiring">Date of hiring</label>
                    <input class="form-control" type="date" name=">Date_of_hiring" id=">Date_of_hiring" formControlName="hiringdate" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Email">Email</label>
                    <input class="form-control" type="email" name="Email" id="Email" formControlName="mail" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Password">Password</label>
                    <input class="form-control" type="Password" name="Password" id="Password" formControlName="password" />
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="phone">phone</label>
                    <input class="form-control" type="tel" name="phone" id="phone" formControlName="phonenumber" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="address">address</label>
                    <input class="form-control" type="text" name="address" id="address" formControlName="address" />
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Image">Image</label>
                    <input class="form-control" type="file" name="Image" id="Image" accept="image/*" formControlName="image" />
                </div>
            </div>
            <div class="row p-3 justify-content-start">
                <div class="col-md-4">
                    <label class="form-lable" for="Department">Department</label>
                    <select id="Department" class="form-control" formControlName="department">
                        <option vlaue=""></option>
                        <option vlaue="1">1</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Degree">Degree</label>
                    <select id="Degree" class="form-control" formControlName="degree">
                        <option></option>
                </select>
                </div>
            </div>
            <div class="row p-3 justify-content-end">
                <div class="col-sm-3">
                    <input type="submit" value="submit" class="form-control" id="submit" />
                </div>
                <div class="col-sm-3">
                    <input type="button" value="cancel" class="form-control" id="cancel" (click)="cancelmodel('addinguser')" />
                </div>
            </div>
        </form>
    </div>
</div>
<div id="updatinguser" class="updatemodal">
    <div class="container">
        <h4>Update Nurse</h4>
        <form [formGroup]="updateInfo" (ngSubmit)="updatenurse()" class="form">
            <div class="row p-2 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="oldnursename">User Name</label>
                    <input class="form-control" type="text" name="nursename" id="oldnursename" formControlName="oldusername" disable/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="newphone">phone</label>
                    <input class="form-control" type="tel" name="phone" id="newphone" formControlName="newphonenumber" />
                </div>
            </div>
            <div class="row p-2 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="newDegree">Degree</label>
                    <select id="newDegree" class="form-control" formControlName="newdegree">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="newstatedepartment">Department</label>
                    <select id="newdepartment" class="form-control" formControlName="newdepartment">
                    <option></option>
                    <option></option>
                </select>
                </div>
            </div>
            <div class="row p-2 justify-content-center">
                <div class="col-md-8">
                    <label class="form-lable" for="newstate">State</label>
                    <select id="newstate" class="form-control" formControlName="newstate">
                    <option>active</option>
                    <option>inactive</option>
            </select>
                </div>

            </div>

            <div class="row p-3 justify-content-center">
                <div class="col-sm-3">
                    <input type="submit" value="submit" class="form-control" id="submitlist" />
                </div>
                <div class="col-sm-3">
                    <input type="button" value="cancel" class="form-control" id="cancellist" (click)="cancelmodel('updatinguser')" />
                </div>
            </div>
        </form>
    </div>
</div>
<script src="./src/assets/animate.js "></script>
<script src="./src\assets\readfile.js "></script>