<div class="container-fluid">
    <div class="d-block p-3 head m-0">
        <button class="btn text-white btn-success " (click)="openmodel()">Add Nurse </button>
    </div>
    <div class="searching">
        <input type="checkbox" id="check" />
        <div class="d-flex">
            <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp;&nbsp; srearch for special nurse</label>
            <div>
                <button class="btn btn-success">All</button>
            </div>
        </div>
        <div class="searching-fields">
            <div class="row mx-auto justify-content-between py-3">
                <div class="col-lg-3 col-md-6">
                    <label for="docname ">Name</label><br>
                    <input class="form-control" type="text " id="docname " />
                </div>
                <div class="col-lg-3 col-md-6">
                    <label for="docname " for="docemail ">Email</label><br>
                    <input class="form-control" type="email " id="docemail " />
                </div>
                <div class="col-lg-2 col-md-6">
                    <label for="gender ">gender</label><br>
                    <select class="form-control" name="gender " id="gender ">
          <option value="male ">male</option>
          <option vale="female ">female</option>
        </select>
                </div>
                <div class="col-lg-2 col-md-6">
                    <label for="Specialist ">Specialist</label><br>
                    <select class="form-control" name="Specialist " id="Specialist " (change)="setspec($event) ">
          <option value=" "></option>
          <option value="cardio ">cardio</option>
          <option value="Neuroscience ">Neuroscience</option>
          <option value="orthopedic ">orthopedic</option>
        </select>
                </div>
            </div>
            <div class="float-right">
                <button class="btn btn-success" (click)="search() ">search</button>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>National Id</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Adress</th>
                    <th>Phone</th>
                    <th>Degree</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of  nurselist; ">
                    <td></td>
                    <td>{{i.name}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.dgree}}</td>
                    <td>
                        <button> <span class="fa-solid fa-trash " style="color:red "> </span></button>
                        <button> <span class="fa-solid fa-pen-to-square " style="color:green " > </span>
          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="id01" class="modal">
    <div class="container">
        <h4>Add Nurse</h4>
        <form class="form ">
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="doctorfname">First Name</label>
                    <input class="form-control" type="text" name="doctorfname" id="doctorfname" required/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="doctorlname">Last Name</label>
                    <input class="form-control" type="text" name="doctorlname" id="doctorlname" required/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="gender">gender</label>
                    <select id="gender" class="form-control">
              <option vlaue="female">female</option>
              <option value="male">male</option>
            </select>
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="Date-of-Birth">Date of Birth</label>
                    <input class="form-control" type="date" name="Date-of-Birth" id="Date-of-Birth" required/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Email">Email</label>
                    <input class="form-control" type="email" name="Email" id="Email" required/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="phone">phone</label>
                    <input class="form-control" type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{3}" required/>
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="address">address</label>
                    <input class="form-control" type="text" name="address" id="address" required/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Image">Image</label>
                    <input class="form-control" type="file" name="Image" id="Image" accept="image/*" required/>
                </div>
                <div class="col-md-4">
                    <label for="pass">Password</label>
                    <input type="password" id="pass" name="pass" class="form-control" placeholder="Enter password" required/>
                </div>
            </div>
            <div class="row p-3 justify-content-center">

                <div class="col-md-4">
                    <label class="form-lable" for="specialist">specialist</label>
                    <select id="specialist" class="form-control">
              <option vlaue="cardio">Cardiology specialty</option>
              <option vlaue="chest">Chest and Respiratory specialization</option>
              
            </select></div>
                <div class="col-md-4">
                    <label class="form-lable" for="degree">Degree</label>
                    <input class="form-control" type="text" name="degree" id="degree" required/>
                </div>
                <div class="col-md-4">
                    <label class="form-lable" for="Department">Department</label>
                    <select id="Department" class="form-control">
                        <option >Select Departement:</option>
                        <option value="1">Cardiology</option>
                        <option value="2">Hepaotology</option>
            </select>
                </div>
            </div>
            <div class="row p-3 justify-content-end">
                <div class="col-sm-3">
                    <input type="submit" value="submit" class="form-control" id="submit" />
                </div>
                <div class="col-sm-3">
                    <input type="button" value="cancel" class="form-control" id="cancel" (click)="cancelmodel()" />
                </div>
            </div>
        </form>
    </div>
</div>