<!--top header section==> display operating time and contact-->
<!-- navigation bar star-->
<div class="header-top">
    <div class="d-flex justify-content-between">
        <div class="header-left">
            <p>Welcome To <strong>Fayoum University Hospital</strong></p>
        </div>
        <div class="header-right">
            <p>Opening Hours : <span>Monday to Saturday - 8am to 9pm</span> </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="navbar-brand logo ">
                <a [routerLink]="''"><img src="assets/hospitallogo.png" alt="logo" /></a>

            </div>
            <button class="btn-success navbar-toggler" (click)=" togglenavbar()" data-target="#navigation" data-toggle="collapse">
                    <span class="fas fa-bars"></span>
                </button>
            <div class="collapse navbar-collapse" id="navigation" [ngClass]="{'show':navbartoggle}">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#clinic">Clinic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#specialist">Specialties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/appointment">Appointment</a>
                    </li>
                    <li class="nav-item" (click)="login()" *ngIf="!islogin"><a class="nav-link">Log in</a></li>
                    <li class="nav-item" *ngIf="!islogin"><a class="nav-link">Reg</a></li>
                    <li class="nav-item" (click)="gotomyprofile()" *ngIf="islogin"><a class="nav-link">My Profile</a></li>
                    <li class="nav-item" (click)="logout()" *ngIf="islogin"><a class="nav-link">Log out</a></li>
                </ul>

            </div>
        </nav>
    </header>
    <!--navigation bar end-->

    <main>
        <!--slide show-->
        <div class="carousel slide" id="slides" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="active" data-bs-target="#slides" data-bs-slide-to="0"></li>
                <li data-bs-target="#slides" data-bs-slide-to="1"></li>
                <li data-bs-target="#slides" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image:url('assets/slide-two.jpg')">
                    <h2>
                        We <span>Care</span> for <span>you</span>
                    </h2>
                </div>
                <div class="carousel-item" style=" background-image:url( 'assets/slide-one.png') ">
                    <h2>Medical Services<br><span>That You Can Trust</span>
                    </h2>
                </div>
                <div class="carousel-item" style="background-image:url( 'assets/slide-three.png') ">
                </div>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#slides">
                    <span class="fa-solid fa-arrow-right"></span>
                </button>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slides">
                    <span class="fa-solid fa-arrow-left"></span>
                </button>
            </div>
        </div>
        <!--slide show end -->
        <div class="container mx-auto" id="specialist">
            <div>
                <h1 style=" text-align:center;color: #1f456e; ">&nbsp;Specialities</h1>
                <p style="color:rgb(138, 135, 135);text-align: center; ">
                    university hospital is a tertiary care, <br> private hospital with a multidisciplinary approach, <br> integrating medical services with cutting edge technology, <br> covering more than 30 specialities at the outpatient centre.

                </p>
                <h1 style="text-align:center;color: #1f456e; ">Other Specialties</h1>
            </div>
            <div class="row text-center ">
                <div class=" col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Pediatrics.png " width="150px " height="150px " />
                    <h6>Pediatrics</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Rheumatology.png " width="150px " height="150px " />
                    <h6>Rheumatology</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/General+Surgery.png " width="150px " height="150px " />
                    <h6>General Surgery</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Vascular+Surgery.png " width="150px " height="150px " />
                    <h6>Vascular Surgery</h6>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Internal+Medicine.png " width="150px " height="150px " />
                    <h6>Internal Medicine</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Plastic+Surgery.png " width="150px " height="150px " />
                    <h6>Plastic Surgery</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Dermatology.png " width="150px " height="150px " />
                    <h6>Dermatology</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/blood_diseases.png " width="150px " height="150px " />
                    <h6>blood diseases</h6>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Ear+Nose+Throat+(ENT).png " width="150px " height="150px " />
                    <h6>Ear and Nose and Throat</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/breast+Health.png " width="150px " height="150px " />
                    <h6>breast Health</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Nuclear+Medicine+Department.png " width="150px " height="150px " />
                    <h6>Nuclear and Medicine+Department</h6>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <img src="assets/Ophthalmology.png " width="150px " height="150px " />
                    <h6>Ophthalmology</h6>
                </div>
            </div>
        </div>
        <!--display sevice section-->
        <section class="container pb-5 pt-3 service " id="services">
            <div class="row ">
                <div class="col-sm-4 text-center mx-auto ">
                    <h1> Our Services </h1>
                </div>
            </div>
            <div class="row pt-4 ">
                <div class="col-lg-5 col-sm-6 text-center item ">
                    <span class="fa-solid fa-user-doctor fa-2x p-3 " style="color: #1f456e; "></span>
                    <h4>Qualified Doctors</h4>
                    <p> We have doctors who are qualified in medicine and treat patients at highest level</p>
                </div>
                <div class="col-lg-5 col-sm-6 text-center item ">
                    <span class="fa-solid fa-suitcase-medical fa-2x p-3 " style="color: #1f456e; "></span>
                    <h4>Medical Counseling</h4>
                    <p> We provide leading and distinguished physical therapy, hand therapy and rehabilitation to help our patients recover</p>
                </div>
            </div>
            <div class="row pt-4 ">
                <div class="col-lg-5 col-sm-6 text-center item ">
                    <span class="fa-solid fa-square-plus fa-2x p-3 " style="color: #1f456e; "></span>
                    <h4>Rehabilitation Center</h4>
                    <p> We provide leading and distinguished physical therapy, hand therapy and rehabilitation to help our patients recover</p>
                </div>
                <div class="col-lg-5 col-sm-6 text-center item ">
                    <span class="fa-solid fa-truck-medical fa-2x p-3 " style="color: #1f456e; "></span>
                    <h4>Emergency Services</h4>
                    <p> We provide leading and distinguished physical therapy, hand therapy and rehabilitation to help our patients recover</p>
                </div>
            </div>
        </section>
        <!--display clinic schedual-->
        <section class="p-5 " style="background-color: rgb(241, 233, 233); " id="clinic">
            <h1>Outpatient appointments</h1>
            <div class="row pb-4 pt-2 ">
                <div class="col-sm-2 col-md-1 ">
                    <img src="assets/neurlogy logo.png " />
                </div>
                <div class="col-sm-3 col-md-5 align-self-center ">
                    <h5>neurology Clinic</h5>
                </div>
            </div>
            <div class="row mx-auto ">
                <div class="col-md-6 col-lg-3 text-center ">
                    <img src="assets/doctor.jpg " class="rounded-circle ">
                    <h5>DR/</h5>
                    <h5>day</h5>
                    <p></p>
                </div>
                <div class="col-md-6 col-lg-3 text-center ">
                    <img src="assets/doctor.jpg " class="rounded-circle ">
                    <h5>DR/</h5>
                    <h5>day</h5>
                    <p></p>
                </div>
                <div class="col-md-6 col-lg-3 text-center ">
                    <img src="assets/doctor.jpg " class="rounded-circle ">
                    <h5>DR/</h5>
                    <h5>day</h5>
                    <p></p>
                </div>
                <div class="col-md-6 col-lg-3 text-center ">
                    <img src="assets/doctor.jpg " class="rounded-circle ">
                    <h5>DR/</h5>
                    <h5>day</h5>
                    <p></p>
                </div>
            </div>
        </section>
    </main>
    <footer class="row ">
        <div class="col-md-6 col-sm-12 ">
            <div class=" block-content ">
                <h2>Learn More</h2>
                <p><a href="https://www.fayoum.edu.eg/hospital/AboutCollegePage5.aspx# " target="_blank ">About US</a></p>
                <p><a href=" ">Services</a></p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <div class="row ">
                <div class="col-sm-12 col-md-6 block-content ">
                    <h2>Contact Us</h2>
                    <p><a href=" "><i class="fa-solid fa-envelope "></i>Contact Us</a></p>
                    <p>
                        <a href="https://www.google.com/maps/place/%D9%85%D8%B3%D8%AA%D8%B4%D9%81%D9%89+%D8%A7%D9%84%D9%81%D9%8A%D9%88%D9%85+%D8%A7%D9%84%D8%AC%D8%A7%D9%85%D8%B9%D9%8A%E2%80%AD/@29.3213102,30.8340012,15z/data=!4m5!3m4!1s0x0:0xd407b2fa8d2ebe74!8m2!3d29.3213102!4d30.8340012 "
                            target="_blank "> <i class="fa-solid fa-location-dot "></i> Our Location</a>
                    </p>
                    <p>
                        <a href="tel:084-215-761 "><i class="fa-solid fa-phone " aria-hidden="true "></i>084215761</a>
                    </p>
                </div>
            </div>

        </div>

    </footer>
</div>