  * {
      margin: 0;
      box-sizing: border-box;
  }
  
  .header-top {
      background-color: rgb(151, 205, 212);
      padding: 10px 1rem;
      margin: 0;
  }
  
  .navbar-brand {
      display: inline-flex;
      font-size: 20px;
  }
  
  .navbar-brand img {
      padding-left: 10px;
  }
  
  .navbar {
      width: 100%;
      height: 10vh;
  }
  
  .navbar-nav {
      margin-left: auto;
  }
  
  #slides {
      width: 90%;
      margin: 0 auto;
      height: 450px;
  }
  
  .carousel-inner,
  .carousel-item {
      width: 100%;
      height: 100%;
  }
  
  .nav-link {
      color: black;
      font-weight: 200;
  }
  
  .nav-link:hover {
      background-color: rgb(114, 181, 245);
      border-radius: 5px;
      color: white;
  }
  
  .nav-item {
      float: right;
  }
  
  .navbar .navbar-toggler {
      color: rgba(0, 0, 0, .5);
      border-color: rgba(0, 0, 0, .1);
  }
  
  .navbar button {
      background-color: rgb(151, 205, 212);
  }
  
  .navbar-toggler-icon {
      color: white;
  }
  
  .col-lg-3 p span,
  .col-lg-9 p span,
  .col-md-7 p span,
  .col-md-5 p span {
      color: white;
      justify-content: center;
  }
  
  span {
      text-align: center;
  }
  
  .carousel-item {
      min-height: 450px;
      background-size: cover;
      background-position: center;
      padding: 10% 10%;
  }
  
  .carousel-item h2 {
      font-size: 36px;
      margin: 0 0 20px;
      font-weight: 400;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .carousel-item h2 span {
      font-weight: 800;
  }
  
  .fa-plus {
      background-color: rgb(228, 57, 57);
      border-radius: 3px;
      margin-left: 5px;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
      background-color: rgb(114, 181, 245);
      border: none;
      border-radius: 5%;
      width: 5%;
      height: 10%;
      margin: auto 10px;
  }
  
  main .container {
      margin: 0 auto;
  }
  
  .item {
      font-size: 15px;
      align-items: center;
      margin: 0 auto;
  }
  
  .times {
      font-size: 25px;
  }
  
  .col-md-1 img {
      width: 60px;
      height: 60px;
  }
  
  .p-5 h1 {
      font-weight: 400;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #1f456e;
      font-style: italic;
  }
  
  h1 {
      font-weight: 800;
      padding: 20px;
      margin-top: 5px;
  }
  
  .service h1 {
      color: #1f456e;
  }
  
  .collapse {
      float: right;
  }
  
  @media(Max-width:990px) {
      p {
          text-align: center;
          font-size: 15px;
      }
      .col-md-7,
      .col-md-5 {
          margin: 0 auto;
      }
      .carousel-item {
          padding: 20% 5%;
      }
      .col-md-1 img {
          width: 30px;
          height: 30px;
      }
  }
  
  .block-content {
      padding: 10px;
      margin: 10px;
  }
  
  .block-content h2 {
      border-bottom: 1px solid #1f456e;
      ;
      padding: 5px 0;
  }
  
  .block-content p {
      font-size: 20px;
      text-align: left;
      padding: 10px 0;
  }
  
  .block-content p a {
      text-decoration: none;
      color: #1f456e;
      font-weight: 600;
  }
  
  @media (min-width:992px)and (max-width: 1115px) {
      p {
          font-size: 13px;
      }
  }
  
  @media (max-width:777px) {
      p {
          text-align: center;
          font-size: 10px;
      }
      .carousel-item {
          padding: 30% 5%;
      }
      .item {
          padding: 10px 0;
      }
      .item p {
          font-size: 15px;
      }
      .block-content {
          text-align: center;
          padding: 10px;
          margin: 10px;
      }
      .block-content p {
          text-align: center;
          font-size: 20px;
          padding: 10px 0;
      }
  }