@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imagebox {
    position: relative;
    width: 50%;
    height: 100%;
}

section .imagebox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black, white);
    z-index: 1;
    opacity: 0.5;
}

section .imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentbox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contentbox .formbox {
    width: 50%;
}

h2 {
    color: rgb(151, 205, 212);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

span {
    color: rgb(151, 205, 212);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: inline-block;
}

input,
select {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(151, 205, 212);
    outline: none;
}

#submit {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(151, 205, 212);
    color: white;
    font-weight: 300;
    cursor: pointer;
    margin-top: 15px;
}

#submit:active {
    border: none;
}

.invalid-name,
.invalid-pass {
    color: red;
    font-size: 15px;
    margin: 5px 0;
}

section .contentbox .formbox .inputbox p {
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(151, 205, 212);
    font-weight: 400;
    font-size: 14px;
}

section .contentbox .formbox .inputbox p a {
    margin-bottom: 10px;
    margin-top: 10px;
    color: red;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.forgetpassword {
    margin: 4px 0;
}

.forgetpassword p a {
    color: brown;
    text-decoration: none;
}

@media(max-width:786px) {
    section .imagebox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentbox {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    section .contentbox .formbox {
        width: 100%;
        background-color: white;
        opacity: 0.6;
        margin: 50px;
        padding: 70px;
    }
}