<!--<div class="container" id="patient-info">
    <div class="searching">
        <input type="checkbox" id="check" />
        <div class="d-flex">
            <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp; srearch for patient</label>
            <div>
                <button class="btn" (click)="allpatient()">All</button>
            </div>
        </div>
        <div class="searching-fields">
            <div class="row mx-auto  py-3">
                <div class="col-lg-3 col-md-6">
                    <label for="docname ">ID</label><br>
                    <input class="form-control" type="text " id="docname" />
                </div>
                <div class="col-lg-3 col-md-6 align-self-end">
                    <button class="btn" (click)="search() ">search</button>
                </div>
            </div>


        </div>
    </div>
    <table class="table text-center ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Adress</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of [0,1,2]">
            <tr>
                <td>1</td>
                <td>a</td>
                <td>female</td>
                <td>alhoria</td>
                <td>010876468</td>
                <td>
                    <button id="selectoperation" (click)="toggleview()">Action</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
<!--option buttons start
<div class="operation" id="doctor-operation">
    <div class="row justify-content-around ">
        <div class=" col-lg-4 col-sm-10 mb-4 mb-lg-0">
            <div *ngIf="operation==='Appointment'then appoint else vital"></div>
        </div>
        <div class="col-lg-4 col-sm-10 "><span class="fa fa-flask fs-1 " aria-hidden="true " (click)="gotorequestlab()"></span>
            <h4>Request Lab/Xray</h4>
        </div>
    </div>
    <div class="row justify-content-around ">
        <div class=" col-lg-4 col-sm-10 mb-4 mb-lg-0"><span class="fa fa-file fs-1 " aria-hidden="true "></span>
            <h4>Show Report</h4>
        </div>
        <div class=" col-lg-4 col-sm-10 "><span class="fa-solid fa-capsules fs-1 "></span>
            <h4>Add medecine</h4>
        </div>
    </div>
    <div>
        <input type="button" value="cancel" class="form-control" id="cancelrequst" (click)="resetview()" />
    </div>
    <ng-template #appoint>
        <span class="fa fa-calendar fs-1 aria-hidden=true " (click)="gotoappointment()"></span>
        <h4>Make Appointment</h4>
    </ng-template>
    <ng-template #vital>
        <span class="fa-solid fa-heart-pulse fs-1 aria-hidden=true "></span>
        <h4>Show vital Signs</h4>
    </ng-template>
</div>
option buttons end

<script src="./src/assets/animate.js ">
</script>-->
<div class="searching">
    <input type="checkbox" id="check" />
    <div class="d-flex">
        <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp; srearch for patient</label>
        <div>
            <button class="btn" (click)="allpatient()">All</button>
        </div>
    </div>
    <div class="searching-fields">
        <div class="row mx-auto  py-3">
            <div class="col-lg-3 col-md-6">
                <label for="docname ">ID</label><br>
                <input class="form-control" type="text " id="docname" />
            </div>
            <div class="col-lg-3 col-md-6 align-self-end">
                <button class="btn" (click)="search() ">search</button>
            </div>
        </div>


    </div>
</div>
<div class="container p-2">
    <div class="row">
        <div class="col-lg-4 col-sm-11 col-md-5 mb-5" *ngFor="let i of [1,2,2,2,2,2,2,2,2]">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Patient Name</h5>
                </div>
                <div class="card-body pt-4">
                    <div>ID&nbsp;&nbsp;</div>
                    <div>Gender&nbsp;&nbsp;</div>
                    <div>phone Number:&nbsp;&nbsp;01023468491</div>
                </div>
                <div class="card-footer p-2 d-flex justify-content-center">
                    <div *ngIf="operation==='Appointment'then appoint else vital" class="p-3"></div>
                    <div class="p-3"><span class="fa fa-flask fs-4" aria-hidden="true " (click)="gotorequestlab()"></span></div>
                    <div class="p-3"><span class="fa fa-file fs-4" aria-hidden="true "></span></div>
                    <div class="p-3"><span class="fa-solid fa-capsules fs-4" (click)="gotoprescription()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #appoint>

    <div class="p-3"><span class="fa fa-calendar fs-4 aria-hidden=true " (click)="gotoappointment()"></span></div>
</ng-template>
<ng-template #vital>
    <div class="p-3"><span class="fa-solid fa-heart-pulse fs-4 aria-hidden=true " (click)="gotoshowvital()"></span></div>
</ng-template>