<div class="searching">
    <input type="checkbox" id="check" />
    <div class="d-flex">
        <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp; srearch for patient</label>
        <div>
            <button class="btn" (click)="allpatient()">All</button>
        </div>
    </div>
    <div class="searching-fields">
        <div class="row mx-auto  py-3">
            <div class="col-lg-3 col-md-6">
                <label for="docname ">ID</label><br>
                <input class="form-control" type="text " id="docname" />
            </div>
            <div class="col-lg-3 col-md-6 align-self-end">
                <button class="btn" (click)="search() ">search</button>
            </div>
        </div>


    </div>
</div>
<div class="container p-2">
    <div class="row">
        <div class="col-lg-4 col-sm-11 col-md-5 mb-5" *ngFor="let i of [1,2,2,2,2,2,2,2,2]">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Patient Name</h5>
                </div>
                <div class="card-body pt-4">
                    <div>ID&nbsp;&nbsp;</div>
                    <div>Gender&nbsp;&nbsp;</div>
                    <div>phone Number:&nbsp;&nbsp;01023468491</div>
                </div>
                <div class="card-footer p-2 d-flex justify-content-center">
                    <div *ngIf="operation==='Appointment'then appoint else vital" class="p-3"></div>
                    <div class="p-3"><span class="fa fa-flask fs-4" aria-hidden="true " (click)="gotorequestlab()"></span></div>
                    <div class="p-3"><span class="fa fa-file fs-4" aria-hidden="true "></span></div>
                    <div class="p-3"><span class="fa-solid fa-capsules fs-4" (click)="gotoprescription()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #appoint>

    <div class="p-3"><span class="fa fa-calendar fs-4 aria-hidden=true " (click)="gotoappointment()"></span></div>
</ng-template>
<ng-template #vital>
    <div class="p-3"><span class="fa-solid fa-heart-pulse fs-4 aria-hidden=true " (click)="gotoshowvital()"></span></div>
</ng-template>