.container-fluid {
    margin: 0;
}

.head {
    border-bottom: 2px solid #38608d;
}

.form-control {
    border: 1px solid rgb(24, 24, 112);
    width: 100%;
}

.searching {
    width: 100%;
    padding: 1rem 0.5rem;
}

.searching label {
    width: 90%;
    border: none;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
}

.searching a:active {
    color: black;
}

.searching button {
    padding: 0.5rem 2rem;
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}

div.searching-fields {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

input:checked~div.searching-fields {
    max-height: fit-content;
    padding: 1rem;
    background-color: rgba(185, 184, 184, 0.5);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

th {
    position: sticky;
}

table {
    background-color: white;
}

table tbody tr td button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
}

.modal {
    width: 100%;
    display: none;
    z-index: 3;
    display: none;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal .container {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #bcc5d6;
}

.modal .container h4 {
    text-align: center;
    padding: 10px 0px;
    color: #38568d;
}

#submit,
#cancel {
    background-color: #38608d;
    border: none;
    color: white;
}

.searching button {
    color: white;
}

.btn {
    background-color: #38608d;
    border: none;
}