<div class="container-fluid">
    <div id="absoluteCenteredDiv">
        <h1>Reset Password</h1>
        <form>
            <div class="box " [formGroup]="rest " (ngSubmit)="submit() ">
                <div class="form-group my-2">
                    <label for="username ">UserName</label>
                    <input class="form-control username" name="username" type="text " id="username" formControlName="username" placeholder="User Name ">
                    <div *ngIf="usernamev?.touched&&usernamev?.invalid " class="invalid-name">please enter your id</div>
                </div>
                <div class="form-group my-2">
                    <label for="pass">Password</label>
                    <input class="form-control userpass" name="username" type="password " id="pass" formControlName="userpass" placeholder="new password ">
                    <div *ngIf="userpassv?.touched&&userpassv?.invalid " class="invalid-pass">please enter your password</div>

                </div>
                <button class="btn">Rest</button>

            </div>
        </form>
    </div>
</div>