        .container-fluid {
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: rgb(151, 205, 212);
            justify-content: center;
        }
        
        #absoluteCenteredDiv {
            width: 30%;
            background-color: white;
            position: relative;
            top: 30%;
            margin: 0 auto;
            border-radius: 10px;
        }
        
        h1 {
            text-align: center;
            border-bottom: 2px solid rgb(82, 151, 197);
        }
        
        form {
            width: 50%;
            margin: 0 auto;
            padding: 5px 0 10px 0;
        }
        
        .username,
        .userpass {
            width: 100%;
        }
        
        .btn {
            background-color: rgb(82, 151, 197);
            color: white;
        }
        
        .invalid-name,
        .invalid-pass {
            color: red;
            font-size: 15px;
            margin: 5px 0;
        }
        
        @media(max-width:1000px) {
            #absoluteCenteredDiv {
                width: 60%;
            }
        }