<div>
    <input type="checkbox" id="check" />
    <div class="adding-label">
        <div class="d-flex">
            <label for="check"><i class="fa-solid fa-plus "></i> Add Specialization </label>
        </div>
    </div>
    <div class="adding-form">
        <form>
            <div class="row justify-content-around">
                <div class="form-group col-5">
                    <label for="specializationname">
                        Name 
                    </label>
                    <input type="text" class="form-control" name="dep-specializationname" id="dep-specializationname" required pattern="^[a-zA-Z]$" />
                </div>
                <div class="form-group col-5">
                    <label for="dep-specializationname">
                        Department
                    </label>
                    <select class="form-control" required>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>

                </div>

            </div>

            <div class="form-group">
                <button id="add_btn">Add Specialization</button>

            </div>
        </form>
    </div>
    <div class="table-responsive , disaplay-info">
        <table class=" table table-striped ">
            <thead>
                <th>Name</th>
                <th>Department</th>
                <th>State</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button> <span class="fa-solid fa-pen-to-square " style="color:green" > </span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>