<div id="id01" class="w3-modal">
    <div class="container">
        <h4>Add Prescription</h4>
        <form class="form ">
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label class="form-lable" for="patientname">Patient Name</label>
                    <input class="form-control" type="text" name="patientname" id="patientname" required/>
                </div>
                <div class="col-md-4">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" class="form-control " placeholder="patient age" required min="1" />
                </div>
                <div class="col-md-4">
                    <label for="doctorname">Doctor Name:</label>
                    <input type="text" id="doctorname" name="doctorname"  class="form-control"  required/>
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <div class="col-md-4">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" required>
                        <option ></option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                 </div>
                <div class="col-md-4">
                    <label for="patenttype">Patient Type</label>
                    <select class="form-control" id="patenttype" required>
                        <option ></option>
                        <option value="1">outpatient</option>
                        <option value="2">inpatient</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="dept">Departement:</label>
                                <input type="text" class="form-control" name="example" id="dept" list="departement" placeholder="choose departement">
                                <datalist id="departement" required>
                        <option value=" Gastro-Intestinal (GIT) | الجهاز الهضمي">
                        <option value="Urology | جراحة المسالك البولية"> 
                        <option value=" Cardiothoracic Surgery | جراحة القلب والصدر">
                        <option value=" Dermatology | الجلدية"> 
                        <option value="Ear, Nose & Throat | أنف وأذن وحنجرة">
                        <option value=" General Surgery | الجراحة العامة"> 
                        <option value="Gynecology & Obstetrics | أمراض النساء والتوليد">
                        <option value="Orthopedic Surgery | جراحة العظام"> 
                        <option value="Kidney Diseases | أمراض الكلى"> 
                        <option value="Orthopedics Pediatrics | طب الأطفال"> 
                        <option value="Ophthalmology | طب العيون">
                        <option value=" Internal Medicine | الطب الباطني"> 
                      </datalist>
                </div>
              
            </div>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Medicine strength</th>
                            <th>Instructions</th>
                            <th>Duration</th>
                            <th>Dose</th>
                            <th><div class="fa fa-plus btn btn-success" aria-hidden="true"(click)="add()"></div></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of prescription;let i=index">
                            
                            <td><input type="text" class="form-control" [disabled]=true value="{{f.medicine_name}}" #medicine_name></td>
                            <td><input type="text" class="form-control" [disabled]=true value="{{f.medicine_strength}}" #medicine_strength></td>
                            <td><input type="text" class="form-control" [disabled]=true value="{{f.instructions}}" #instructions></td>
                            <td>
                                <div class="input-group">
                                    <input type="number" class="form-control" [disabled]=true value="{{f.duration}}" #duration style="width: 50%;">
                                    <select class="form-select" aria-label="Default select example" style="width: 50%;">
                                        <option value="days">Days</option>
                                        <option value="months">Months</option>
                                        <option value="years">Years</option>

                                    </select>
                                </div>
                            </td>    
                            <td>
                                <div class="input-group">
                                    <input type="number" class="form-control" [disabled]=true value="{{f.dose}}" #dose style="width: 50%;"> 
                                    <select class="form-select" aria-label="Default select example" style="width: 50%;">
                                        <option value="day">Daily</option>
                                        <option value="month">Monthly</option>
                                        <option value="year">Yearly</option>

                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="btn fas fa-edit" (click)="switchin(medicine_name,medicine_strength,instructions,duration,dose)">
                                    
                                    </div>
                                    <div  class=" btn fa fa-save" (click)="update(medicine_name,medicine_strength,instructions,duration,dose)">
                                    </div>
                                    <div  class=" btn fas fa-times" (click)="deleterow(f)">
                                    </div>
                                </div>
                            </td>
                        </tr>
        <!--to add new item we will make new row but it invalid untill user click on add button-->
                        <tr *ngIf="flag">
                           
                            <td><input type="text" ngModel class="form-control" name="medicine_namepro"  ngModel #medicine_namepro='ngModel'></td>
                            <td><input type="text" ngModel class="form-control"  name="medicine_strengthpro"  ngModel #medicine_strengthpro='ngModel'></td>
                            <td><input type="text" ngModel class="form-control" name="instructionspro"  ngModel #instructionspro='ngModel'></td>
                            <td><div class="input-group">
                                    <input type="number" class="form-control" ngModel name="durationpro"  ngModel #durationpro='ngModel' style="width: 50%;">
                                    <select class="form-select" aria-label="Default select example" style="width: 50%;">
                                        <option value="day">Days</option>
                                        <option value="month">Months</option>
                                        <option value="year">Years</option>

                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="number" class="form-control" ngModel name="dosepro"  ngModel #dosepro='ngModel' style="width: 50%;" >
                                    <select class="form-select" aria-label="Default select example" style="width: 50%;">
                                        <option value="day">Daily</option>
                                        <option value="month">Monthly</option>
                                        <option value="year">Yearly</option>

                                    </select>
                                </div>
                            </td>
                            <td>
                                <div  class="btn fas fa-check " (click)="save(medicine_namepro,medicine_strengthpro,instructionspro,durationpro,dosepro)">
                                    
                                </div>
                               
                            </td>
                        </tr>          
                    </tbody>
                </table>
            </div>
            <div class="row p-3 justify-content-end">
                <div class="col-sm-3">
                    <input type="submit" value="submit" class="form-control" id="submit" />
                </div>
                <div class="col-sm-3">
                    <input type="button" value="cancel" class="form-control" id="cancel" />
                </div>
            </div>
        </form>
    </div>
</div>
<script src="./src/assets/animate.js"></script>