<div class="container">
    <h3 class="header">Vital Signs Patient Record</h3>
    <br/>
    <br/>
    <div class="row mx-auto justify-content-between py-3 patientinfo">
        <div class="col-sm-4  ">
            <label class="info"><strong>Patient Name: </strong> </label>
            <span>Amira</span>
        </div>
        <div class="col-sm-4 ">
            <label class="info"><strong>Gender: </strong> </label>
            <span>Female</span>
        </div>
        <div class=" col-sm-4 float-right">
            <label class="info"><strong>Age: </strong> </label>
            <span>50</span>
        </div>
    </div>
    
    <br/>
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Weight</th>
                    <th>Blood Pressure</th>
                    <th>Pulse Rate</th>
                    <th>Temperature</th>
                    <th>Respiratory Rate</th>
                    <th>Signature</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10/10/2020</td>
                    <td>10 pm</td>
                    <td>50</td>
                    <td>28</td>
                    <td>30</td>
                    <td>37</td>
                    <td>kk</td>
                    <td>amira</td>
                    <td>stable case</td>
                </tr>
            </tbody>
        </table>
  
</div>