.container-fluid {
    margin: 0;
}

.head {
    border-bottom: 2px solid rgb(89, 160, 89);
}

.form-control {
    border: 1px solid green;
    width: 100%;
}

label {
    color: white;
}

.searching {
    width: 100%;
    padding: 1rem 0.5rem;
}

.searching label {
    width: 90%;
    border: none;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
}

.searching a:active {
    color: black;
}

.searching button {
    padding: 0.5rem 2rem;
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}

div.searching-fields {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

input:checked~div.searching-fields {
    max-height: fit-content;
    padding: 1rem;
    background-color: gray;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

th {
    position: sticky;
}

table {
    background-color: white;
}

table tbody tr td button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
}