<div class="container-fluid">
    <div class="d-block p-3 head m-0">
        <button class="btn text-white btn-success " (click)="addDoctor() ">Add Doctor </button>
    </div>
    <div class="searching">
        <input type="checkbox" id="check" />
        <div class="d-flex">
            <label for="check"><i class="fa-solid fa-magnifying-glass "></i> &nbsp; srearch for special doctor</label>
            <div>
                <button class="btn btn-success">All</button>
            </div>
        </div>
        <div class="searching-fields">
            <div class="row mx-auto justify-content-between py-3">
                <div class="col-lg-3 col-md-6">
                    <label for="docname ">Name</label><br>
                    <input class="form-control" type="text " id="docname " />
                </div>
                <div class="col-lg-3 col-md-6">
                    <label for="docname " for="docemail ">Email</label><br>
                    <input class="form-control" type="email " id="docemail " />
                </div>
                <div class="col-lg-2 col-md-6">
                    <label for="gender ">gender</label><br>
                    <select class="form-control" name="gender " id="gender ">
            <option value="male ">male</option>
            <option vale="female ">female</option>
          </select>
                </div>
                <div class="col-lg-2 col-md-6">
                    <label for="Specialist ">Specialist</label><br>
                    <select class="form-control" name="Specialist " id="Specialist " (change)="setspec($event) ">
            <option value=" "></option>
            <option value="cardio ">cardio</option>
            <option value="Neuroscience ">Neuroscience</option>
            <option value="orthopedic ">orthopedic</option>
          </select>
                </div>
            </div>
            <div class="float-right">
                <button class="btn btn-success" (click)="search() ">search</button>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>National Id</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Adress</th>
                    <th>Phone</th>
                    <th>Specialist</th>
                    <th>Degree</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of doctorlist; ">
                    <td></td>
                    <td>{{i.name}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.spec}}</td>
                    <td>{{i.dgree}}</td>
                    <td>
                        <button> <span class="fa-solid fa-trash " style="color:red "> </span></button>
                        <button> <span class="fa-solid fa-pen-to-square " style="color:green " > </span>
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>





</div>