<div class="mask d-flex align-items-center h-100  appoinment">
    <div class=" container h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card " style="border-radius: 15px;">
                    <h2 class=" text-center book">Book an Appoinment</h2>

                    <div class="card-body p-5 ">

                        <form action=" " method="post">
                            <div class="row form-group">
                                <div class="col">
                                    <label for="fname">First Name:</label>
                                    <input type="text" class="form-control" id="fname" name="fname" pattern="/^[a-z ,.'-]+$/i" required>

                                    <input type="text" class="form-control" id="fname" name="fname" pattern="[a-zA-Z][a-zA-Z ]+" minlength="3" maxlength="25" required> >>>>>>> c60598ff813c40690ec19402912fd5ca75200360
                                </div>
                                <div class="col">
                                    <label for="lname">Last Name:</label>
                                    <input type="text" class="form-control" id="lname" name="lname" pattern="[a-zA-Z][a-zA-Z ]+" minlength="3" maxlength="25" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email"> Email</label>
                                <input type="email" class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                            </div>

                            <div class="row form-group">
                                <div class="col">
                                    <label for="nationalId">National Id:</label>
                                    <input type="text" id="nationalId" name="nationalId" class="form-control" pattern="^29\d{1,12}$" placeholder="Enter your id" minlength="14" maxlength="14" required/>
                                </div>
                                <div class="col">

                                    <label for="phone">Phone Number:</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="01xxxxxxxxx" pattern="^01[0-5]\d{1,8}$" required maxlength="11" minlength="11">
                                </div>
                            </div>

                            <div class=" form-group">

                                <label for="dept">Departement:</label>
                                <input type="text" class="form-control" name="example" id="dept" list="departement" placeholder="choose departement" required>
                                <datalist id="departement" required>
                                    <option value=" Gastro-Intestinal (GIT) | الجهاز الهضمي">
                                    <option value="Urology | جراحة المسالك البولية"> 
                                    <option value=" Cardiothoracic Surgery | جراحة القلب والصدر">
                                    <option value=" Dermatology | الجلدية"> 
                                    <option value="Ear, Nose & Throat | أنف وأذن وحنجرة">
                                    <option value=" General Surgery | الجراحة العامة"> 
                                    <option value="Gynecology & Obstetrics | أمراض النساء والتوليد">
                                    <option value="Orthopedic Surgery | جراحة العظام"> 
                                    <option value="Kidney Diseases | أمراض الكلى"> 
                                    <option value="Orthopedics Pediatrics | طب الأطفال"> 
                                    <option value="Ophthalmology | طب العيون">
                                    <option value=" Internal Medicine | الطب الباطني"> 
                                </datalist>
                            </div>
                            <div class="form-outline">
                                <label for="address"> Adress</label>
                                <input type="text" class="form-control" id="address" placeholder="Enter your address" name="address">
                            </div>

                            <div class=" form-group">

                                <label for="doctor">Doctor:</label>
                                <input type="text" class="form-control" name="example" id="doctor" list="doc" placeholder="choose your favourite doctor" required>
                                <datalist id="doc" required>
                                    <option value=" Amira Eid ">
                                    <option value=" Aya Medhat">
                                    <option value=" Mai Ali">
                                    <option value=" AYA Ahmed">
                                         
                                </datalist>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="time">Appoinment time:</label>
                                    <select class="form-control" id="time" name="time" required>
                                        <option>Select Appoinment time slot :</option>
                                        <option value="1">9:00 AM - 9:30 AM</option>
                                        <option value="2">9:30 AM - 10:00 AM</option>
                                        <option value="3">10:00 AM - 10:30 AM</option>
                                        <option value="4">10:30 AM - 11:00 AM</option>
                                        <option value="5">11:00 AM - 11:30 AM</option>
                                        <option value="4">11:30 AM - 12:00 PM </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="day">Appoinment day:</label>
                                    <input class="form-control" type="date" id="day" name="day" required/>
                                </div>
                            </div>
                            <br>
                            <div class="row p-3 justify-content-end">
                                <div class="col-sm-3">
                                    <input type="submit" value="Submit" class="form-control btn" id="submit" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="button" value="Cancel" class="form-control btn" id="cancel" (click)="cancelmodel()" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./src/assets/animate.js"></script>