<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class=" text-center mb-5 text-success">Edit Profile</h2>

              <form action=" " method="post">
                <div class="form-group">
                  <label for="uname">User Name:</label>
                  <input type="text" class="form-control" id="uname"  name="uname">
                </div>
                <div class="form-group">
                  <label for="email"> Email:</label>
                  <input type="email" class="form-control" id="email"  name="email">
                </div>

                <div class="row form-group">
                  <div class="col">
                    <label for="country">Country:</label>
                    <input type="text" id="country" name="country"  class="form-control" />
                  </div>
                 <div class="row form-group">
                    <div class="col">
                        <label for="studedat">Studed At:</label>
                        <input type="text" id="studedat" name="studedat"  class="form-control" />
                    </div>
                 </div>  
               </div>
               <div class="row form-group">
                  <div class="col">
                    <label for="country">Location:</label>
                    <input type="text" id="Location" name="Location"  class="form-control" />
                  </div>
               </div>
                <div class=" row form-group">
                  <div class="col">
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" class="form-control" placeholder="01xxxxxxxxx"  maxlength="11" minlength="11">
                  </div>
                  <div class="col">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control">
                   </div>
                </div>
                <div class="row form-group">
                  <div class="col">
                    <label for="degree">degree</label>
                    <input type="text" id="degree" name="degree" class="form-control" placeholder="Enter degree" />
                  </div>
                </div> 
                <div class="row form-group">
                  <div class="col">
                    <label for="skills">Skills</label>
                    <input type="text" id="skills" name="skills" class="form-control "  />
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label for="notes"> Notes</label>
                  <input type="text" class="form-control" id="notes"  name="notes">
                </div>
                
                <div class="form-outline mb-4">
                   
                        <label class="form-lable" for="Image">Update Profile Picture </label>
                        <input class="form-control" type="file" name="Image" id="Image" class="text-sucess" accept="image/*" />
                    
                </div>

                <div class="row p-3 justify-content-center">
                    <div class="col">
                        <input type="save" value="Save Changes"class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />
                    </div>
                    <div class="col">
                        <input type="button" value="View Profile" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />
                    </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

